*{
  margin: 0;
  padding: 0;
  outline: 0;
}


body{
  padding: 0px;
  margin: 0px;
}

/*........navigation bar.........*/
.container{
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
}
#nav{
  background-color: rgb(24, 24, 24);
  width: 100%;
  padding-bottom: 10px;
  transition: top 0.3s;
  overflow: hidden;
}
.section1{
  margin-left: 300px;
  margin-top: -28px;
}
#nav .section1 a{
  color: white;
  text-decoration: none;
  font-family: Teko;
  font-size: 20px;
  padding: 15px;
  padding-left: 20px;
  text-align: center;
}
#nav .section1 a:hover{
  background-color: white;
  color: black;
}
#nav .section2{/*...login & signup...*/
  float: right;
  margin-top: -28px;
}
#nav .section2 a{
  text-decoration: none;
  padding: 18px;
  font-family: Teko;
  font-size: 20px;
  color: white;
  background: #cc2936;
}
#nav .section2 a:hover{
  background: white;
  color: #cc2936;
}

.dropdown{ /*....dropdown.....*/
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  background: rgb(24, 24, 24);
  position: fixed;
}
.dropdown-content a{
  display: block;
}
.dropdown:hover .dropdown-content{
  display: block;
  margin-top: 11px;
}

.icon{
  margin-top: 10px;
  margin-left: 10px;
}

.image{     /*background image*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: 5s infinite;
  width:auto;
  height:400px;
  animation-name: image;
}
@keyframes image {
  0%{
    background-image: url("../image/newspic1.jpg");
  }
  50%{
    background-image: url("../image/newspic1.jpg");
  }
  50.01%{
    background-image: url("../image/racing2.jpg");
  }
  100%{
    background-image: url("../image/racing2.jpg");
  }
}
#txt{
  font-family: Teko;
  color: white;
  font-size: 60px;
  margin-top: 100px;
  padding-left: 50px;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
}


/*..........*/
.latest{
  background: white;
  font-family: teko;
  text-align: center;
  height: 200px;
  padding-top: 80px;
}
#exp{
  font-size: 45px;
  letter-spacing: 10px;
}
#expmore{
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 10px;
}

.back{
  background-color: rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
}
.latestpara{
  background-image: url("../image/downloadassassin.jpg");
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
#latest{
  color: white;
  font-family: Teko;
  font-weight: normal;
  float:left;
  width: 40%;
  font-size: 70px;
  padding-left: 50px;
  letter-spacing: 5px;
  padding-top: 120px;
  text-transform: uppercase;
}
#button{
  text-align: center;
  padding-top: 200px;
  font-family: Teko;
  font-weight: normal;
  font-size: 28px;
}
#button a{
  text-decoration: none;
  color: black;
  background: white;
  padding: 0px 20px;
}
#button a:hover{
  color: white;
  border: 1px solid white;
  background: none;
}

.coming{
  background: white;
  height: 230px;
  padding-top: 50px;
}
.coming #text{
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  padding-top: 50px;
  letter-spacing: 3px;
  font-size: 45px;
}
#keep{
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 10px;
}
.cominggames{
  background-image: url("../image/imagefeature4.jpg");
  min-height: 450px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.comingback{
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
}
.comtext{
  padding-top: 170px;
}
.cominggames .text{
  float: right;
}
.cominggames #combutton{
  text-align: center;
  font-family: Teko;
  font-weight: 300;
  padding-top: 100px;
  text-transform: uppercase;
  font-size: 28px;
}
.cominggames #combutton a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 3px 40px;
  border-radius: 40px;
}
.cominggames #combutton a:hover{
  color: black;
  background: white;
}
.cominggames #text1{
  float: right;
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
.cominggames #text2{
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 60px;
  width: 30%;
  padding-top: 20px;
}
.cominggames #text3{
  color: white;
  font-family: Teko;
  font-weight: normal;
  font-size: 80px;
  padding-left: 50px;
}


/*.....featured games.....*/
.featuredback{
  height: 320px;
  background: white;
}
.style{
  background-image: url("../image/styleimage3.png");
  background-size: 250px;
  background-repeat: no-repeat;
  height: 100%;
  width: 20%;
  float: right;
  padding-right: 50px;
}
.featuredback #text1{
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}
.txt{
  float:left;
  padding-top: 60px;
  padding-left: 50px;
}
.featuredback #text2{
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 50px;
  padding-top:30px;
  font-style: italic;
  letter-spacing: 2px;
}
.featuredback #text3{
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 20px;
  padding-top:20px;
  font-weight: 300;
  letter-spacing: 3px;
}
.featuredback #text4{
  font-family: Teko;
  text-transform: uppercase;
  font-weight: normal;
  float: right;
  font-size: 25px;
  margin-top: 140px;
  margin-right: 250px;
}
.featuredback #text4 a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 3px 15px;
}
.featuredback #text4 a:hover{
  color: white;
  background: black;
}

.featured{
  background-image: url("../image/racing2.jpg");
  min-height: 420px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.featured .back{
  background-color: rgba(0, 0, 0, 0.3);
  height: 420px;
  width: 100%;
  background-attachment: fixed;
}

.flip-box {
  background-color: transparent;
  width: 200px;
  height: 220px;
  perspective: 1000px;
  display: inline-block;
  margin: 0px 65px;
  padding-top: 50px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transform: rotateX(180deg);
  border-left: 2px solid white;
}
.flip-box-back #gname{
  font-family: Roboto;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 20px;
  color: white;
}
.flip-box-back #glink a{
  text-decoration: none;
  color: white;
  border-top: 1px solid #cc2936;
  border-bottom: 1px solid #cc2936;
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  padding: 10px 0px;
}
.flip-box-back #glink a:hover{
  border-top: none;
  border-bottom: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.expand{
  height: 10%;
  width: 3%;
  padding-top: 70px;
}

/*latest news*/
.news{
  background: white;
  height: 350px;
}
.text{
  float: right;
  padding-right: 100px;
}
#getnews{
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 100px;
  letter-spacing: 3px;
}
#gupdate{
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 30px;
  font-weight: 300;
}
#button1{
  padding-top: 50px;
  font-family: Teko;
  font-weight: normal;
  font-size: 27px;
}
#button1 a{
  text-decoration: none;
  color: white;
  background: #cc2936;
  padding: 0px 40px;
}
#button1 a:hover{
  color: black;
  border: 1px solid black;
  background: none;
}
.covernews{
  height: 90%;
  padding-top: 15px;
  padding-left: 60px;
}

/*...our team....*/
.team{
  background: #00bff3;
  height: 450px;
}
#teamtxt{
  padding: 20px 0px;
  font-family: Teko;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
}
.teamimg{
  height: 250px;
}
.imgtxt1{
  position: relative;
  margin: 0px 40px;
  display: inline-block;
}
.imgtxt1 #txtname{
  font-size: 18px;
  text-align: center;
  font-family: Roboto;
  font-weight: normal;
  background: white;
}
.imgtxt1 #txtpos{
  font-size: 12px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 2px;
  background: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}


/*...........footer.........*/
.footer{
  background-color: rgb(24, 24, 24);
  width: 100%;
  padding-bottom: 10px;
}
.footerimage1{
  padding-top: 70px;
  float: left;
  padding-left: 30px;
}
.footertxt1{
  margin-left: 590px;
  padding-top: 50px;
}
.footertxt1 a{
  text-decoration: none;
  font-family: teko;
  font-size: 19px;
  margin: 10px;
  color: rgb(170, 170, 170);
}
.footertxt1 a:hover{
  color: white;
}
.footertxt2{
  margin-left: 510px;
  padding-top: 10px;
}
.footertxt2 a{
  text-decoration: none;
  font-family: Teko;
  margin: 15px;
  font-size: 19px;
  color: rgb(170, 170, 170);
}
.footertxt2 a:hover{
  color: white;
}
#copyright{
  font-size: 19px;
  color: #cc2936;
  margin-left: 535px;
  padding-top: 30px;
  font-family: teko;
  font-weight: normal;
}
#footertxt3{
  float:right;
  font-family: Teko;
  font-size: 20px;
  color: white;
  font-weight: normal;
  margin-top: -130px;
  margin-right: 70px;
}
.socialmedia{
  float: right;
  margin-top: -100px;
  margin-right: 10px;
}
.socialmedia a{
  color: white;
  font-size: 15px;
  background: #cc2936;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  transition: 0.2s linear;
}
.socialmedia a:hover{
  transform: scale(1.3);
}
