*{
  margin: 0;
  padding: 0;
  outline: 0;
}

<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap&subset=devanagari,latin-ext" rel="stylesheet">
body{
  padding: 0px;
  margin: 0px;
}
/*........navigation bar.........*/
.container{
  margin: 0px;
}
.nav{
  background-color: rgb(24, 24, 24);
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
.section1{
  margin-left: 300px;
  margin-top: -28px;
}
.nav .section1 a{
  color: white;
  text-decoration: none;
  font-family: Teko;
  font-size: 20px;
  padding: 15px;
  padding-left: 20px;
  text-align: center;
}
.nav .section1 a:hover{
  /*background-color: #CC2936;*/
  background-color: white;
  color: black;
}
.nav .section2{/*...login & signup...*/
  float: right;
  margin-top: -28px;
}
.nav .section2 a{
  text-decoration: none;
  padding: 18px;
  font-family: Teko;
  font-size: 20px;
  color: white;
  background: #cc2936;
}
.nav .section2 a:hover{
  background: white;
  color: #cc2936;
}

.dropdown{ /*....dropdown.....*/
  position: relative;
  display: inline-block;
}
.dropdown-content{
  display: none;
  background: rgb(24, 24, 24);
  position: fixed;
}
.dropdown-content a{
  display: block;
}
.dropdown:hover .dropdown-content{
  display: block;
  margin-top: 11px;
}

.icon{
  margin-top: 10px;
  margin-left: 10px;
}

.image{     /*background image*/
  background-position: center;
  background-size: cover;
  min-height: 700px;
}

/*........*/

.contain{
  background: black;
  height: 500px;
}
.pic {
  width: 30%;
  margin-left: 200px;
  float: left;
  padding-top: 30px;
}
.pic img{
  width: 100%;
}
.pic #name{
  color: white;
  font-family: Teko;
  text-align:center;
}


#getaccess{
  text-align: center;
  padding-top: 150px;
}
#getaccess a{
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-weight: normal;
  background: #1c96c9;
  padding: 30px;
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
}
#getaccess a:hover{
  color: #1c96c9;
  background: white;
  border: 2px solid #1c96c9;
}

/*...........footer.........*/
.footer{
  background-color: rgb(24, 24, 24);
  width: 100%;
  padding-bottom: 10px;
}
.footerimage1{
  padding-top: 70px;
  float: left;
  padding-left: 30px;
}
.footertxt1{
  margin-left: 590px;
  padding-top: 50px;
}
.footertxt1 a{
  text-decoration: none;
  font-family: teko;
  font-size: 19px;
  margin: 10px;
  color: rgb(170, 170, 170);
}
.footertxt1 a:hover{
  color: white;
}
.footertxt2{
  margin-left: 510px;
  padding-top: 10px;
}
.footertxt2 a{
  text-decoration: none;
  font-family: Teko;
  margin: 15px;
  font-size: 19px;
  color: rgb(170, 170, 170);
}
.footertxt2 a:hover{
  color: white;
}
#copyright{
  font-size: 19px;
  color: #cc2936;
  margin-left: 535px;
  padding-top: 30px;
  font-family: teko;
  font-weight: normal;
}
#footertxt3{
  float:right;
  font-family: Teko;
  font-size: 20px;
  color: white;
  font-weight: normal;
  margin-top: -130px;
  margin-right: 70px;
}
.socialmedia{
  float: right;
  margin-top: -100px;
  margin-right: 10px;
}
.socialmedia a{
  color: white;
  font-size: 15px;
  background: #cc2936;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  transition: 0.2s linear;
}
.socialmedia a:hover{
  transform: scale(1.3);
}
